<div class="container floating-main-content">
  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Launch demo modal</a>
  <!-- Button trigger plate -->
  <a data-toggle="plate" href="#myplate" class="btn btn-primary btn-lg">Launch demo plate</a>
</div>
<div id="map"></div>
