  <!-- plate -->
  <div class="plate fade" id="plate" tabindex="-1" role="dialog">
    <div class="plate-dialog">
      <div class="plate-content">
        <div class="plate-header">
          <button type="button" class="close" data-dismiss="plate" aria-hidden="true">&times;</button>
          <a href="#" class="pull-right" data-resize="plate" aria-hidden="true"></a>
          <h4 class="plate-title">{{ title }}</h4>
        </div>
        <div class="plate-body">
          {{ content }}
        </div>
      </div><!-- /.plate-content -->
    </div><!-- /.plate-dialog -->
  </div><!-- /.plate -->
