<div class="progress progress-striped">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%">
    <span class="sr-only">{{ percentage }}% Complete (success)</span>
  </div>
</div>
